@import '../../variables.scss';

.navbar {
  width: 100vw;;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $primary-color;
  color: $secondary-color;
  position: relative;
  padding: 20px;
}

.nav-links {
  display: flex;
  gap: 2rem;
  margin-right: auto;
  margin-left: 40px;

  li {
    list-style: none;

    a {
      position: relative;
      color: white;
      text-decoration: none;
      font-weight: 500;
      padding: 0.5rem 0;

      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 3px;
        background: #f7d039;
        border-radius: 2px;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 0.3s ease;
      }

      &:hover::after {
        transform: scaleX(1);
      }
    }
  }
}

.logo-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  margin-top: 10px;

  img {
    height: 40px;
    object-fit: contain;
  }
}